:root {
    --background: hsl(0, 0%, 0%);
    --menuBackground: hsl(240 5.1% 15%);
}

body {
    opacity: 0;
    background: var(--background);
    min-width: 300px;
    font: 400 16px "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body.ready {
    opacity: 1;
    transition: 0.25s opacity;
}

iframe {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.layout {
    width: 100%;
    height: 768px;
  
    display: grid;
    grid:
      "menu" 7vh
      "map" 91vh
      / auto;
}
  
.menu { 
    grid-area: menu; 
    background-color: var(--menuBackground);
    height: 50px;
}
.map { 
    grid-area: map;
}

.nav {
    height: 50px;
    width: 100%;
    position: relative;
}

.nav > .nav-right {
    display: flex;
    float: right;
    align-items: center;
    height: 100%;
}
.nav > .nav-right > span {
    font-size: 18px;
    
}
.nav > .nav-right > * {
    padding-right: 8px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
}

thead {
    position: sticky;
	position: -webkit-sticky;
	top: 0px;
	z-index: 2;
    background-color: var(--sl-color-neutral-0);
}

th {
	resize: horizontal;
    white-space: nowrap;
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid hsl(240 5% 27.6%);
    overflow: auto;
}
  
tbody > tr:hover {
    background-color: hsl(227.7 64.4% 42.9%);
}

th::-webkit-scrollbar {
    display: none;
}
td::-webkit-scrollbar {
    display: none;
}
